<%- for action in section -%>

# <%= action.title %>

```nginx
<%= action.request %>
```

<%= action.description %>

## Input Parameter

<table>
  <tr>
    <th>Parameter</th>
    <th>Example</th>
    <th>Required/Optional</th>
    <th>Description</th>
  </tr>
<%- for param in action.params.values -%>
  <tr>
    <th><%= param.name %></th>
    <td><code><%= param.value %></code></td>
    <td><%= param.required ? 'required' : 'optional' %></td>
    <td><%= param.description %></td>
  </tr>
<%- end -%>
</table>

## Response Parameter

*TODO*

## Response Example

```json
<%= action.response.to_json %>
```

<%- end -%>
