<%- for action in section -%>

# <%= action.title %>

```nginx
<%= action.request %>
```

<%= action.description %>

## Input Parameter

<table>
  <tr>
    <th>Parameter</th>
    <th>Example</th>
    <th>Required/Optional</th>
    <th>Description</th>
  </tr>
<%- for param in action.params.values -%>
  <tr>
    <th align="left"><%= param.name %></th>
    <td><code><%= param.value %></code></td>
    <td><%= param.required ? 'required' : 'optional' %></td>
    <td><%= param.description %></td>
  </tr>
<%- end -%>
</table>

## Response Attributes

<%- if properties = action.response.properties.to_a -%>
  <%- for (representer, properties) in properties.group_by(&:below_path) -%>
    <%- first_property = properties.first -%>
    <%- if nesting_name = first_property.nesting_name.full? -%>
### <a name="<%= nesting_name %>" href="#<%= "#{nesting_name}-ref" %>">↑Nested Attributes: <%= nesting_name %></a>
    <%- else -%>
### Root Attributes
    <%- end -%>

  <table>
    <tr>
      <th>Attribute</th>
      <th>Types</th>
      <th>Example</th>
      <th>Description</th>
    </tr>
    <%- for property in properties -%>
    <tr>
      <%- if r = property.sub_representer? and r.docs.api_properties.full? -%>
        <th align="left" style="white-space: nowrap">
          <a name="<%= fn = property.full_name; "#{fn}-ref" %>" href="#<%= fn %>">
            ↓<%= property.full_name %>
          </a>
        </th>
      <%- else -%>
      <th align="left"><%= property.full_name %></th>
      <%- end -%>
      <td><%= property.types * ' &#124; ' %></td>
      <td><%= property.example %></td>
      <td><%= property.description %></td>
    </tr>
    <%- end -%>
  </table>
  <%- if links = (nesting_name ? r.full? { (r.docs.full?(:api_links) || []).map { |l| l.below_path(first_property.below_path) } } : action.response.full?(:api_links)).full? -%>
#### Links
  <table>
    <tr>
      <th>Linkname</th>
      <th>Description</th>
    </tr>
  <%- for link in links -%>
    <tr>
      <th align="left"><%= link.full_name %></th>
      <td><%= link.description %></td>
    </tr>
  <%- end -%>
  </table>
<%- end -%>
  <%- end -%>
<%- else -%>
<table>
  <th>No response example defined</th>
</table>
<%- end -%>

## Response Example

```json
<%= action.response.to_json %>
```

<%- end -%>
