<%- for action in section -%>

# <%= action.title %>

```Rebol
<%= action.request %>
```

<%= action.description %>

## URL Parameters

<table>
  <tr>
    <th>Parameter</th>
    <th>Example</th>
    <th>Required</th>
    <th>Description</th>
  </tr>
<%- for param in action.params.values -%>
  <tr>
    <th align="left"><%= param.name %></th>
    <td><code><%= param.value %></code></td>
    <td><%= param.required ? 'yes' : 'no' %></td>
<td>

<%= param.description %>

</td>
  </tr>
<%- end -%>
</table>

<%- if json_params = action.json_params.full? -%>
## JSON Parameters

JSON parameters have to be provided in the body of the request with the
Content-Type header set to "application/json". The parameters are part of a
flat JSON document without any nesting. Some parameters are required, others
are optional.

### Example

```json
<%= action.json_params_example_json %>
```

### Supported Parameters

<table>
  <tr>
    <th>Parameter</th>
    <th>Example</th>
    <th>Types</th>
    <th>Required</th>
    <th>Description</th>
  </tr>
  <%- for param in action.json_params.values -%>
  <tr>
    <th align="left"><%= param.name %></th>
    <td><code><%= param.value %></code></td>
    <td><code><%= param.types * ?| -%></code></td>
    <td><%= param.required ? 'yes' : 'no' %></td>
<td>

<%= param.description %>

</td>
  </tr>
  <%- end -%>
</table>
<%- end -%>

## Response Attributes

<%- if properties = action.response.full?(:properties) -%>
  <%- for (representer, properties) in properties.group_by(&:nesting_name) -%>

    <%- if properties.first.nesting_name.blank? -%>
### Root Attributes
    <%- else -%>
### <a id="<%= nn = properties.first.nesting_name %>" href="#<%= "#{nn}-ref" %>">↑Nested Attributes: <%= nn %></a>
    <%- end -%>

  <table>
    <tr>
      <th>Attribute</th>
      <th>Types</th>
      <th>Example</th>
      <th>Description</th>
    </tr>
    <%- for property in properties -%>
    <tr>
      <%- if r = property.sub_representer? and r.docs.properties.full? -%>
        <th align="left" style="white-space: nowrap">
          <a id="<%= fn = property.full_name; "#{fn}-ref" %>" href="#<%= fn %>">
            ↓<%= property.full_name %>
          </a>
        </th>
      <%- else -%>
      <th align="left"><%= property.full_name %></th>
      <%- end -%>
      <td><code><%= property.types * ' &#124; ' %></code></td>
      <td><code><%= property.example %></code></td>
<td>

<%= property.description %>

</td>
    </tr>
    <%- end -%>
  </table>
  <%- end -%>
<%- else -%>
  <th colspan="4">No response example defined</th>
<%- end -%>
</table>

## Response Links

<table>
  <tr>
    <th>Linkname</th>
    <th>Description</th>
  </tr>
<%- if links = action.response.full?(:links) -%>
  <%- for link in links.group_by(&:nesting_name).values.reduce(&:concat) -%>
    <tr>
<th align="left">

<%= link.full_name %>

</th>
<td>

<%= link.description %>

</td>
    </tr>
  <%- end -%>
<%- else -%>
  <th colspan="2">No response example defined</th>
<%- end -%>
</table>

## Response Example

```json
<%= JSON.pretty_generate(action.response, quirks_mode: true) %>
```

<%- end -%>
